{{#partial "content"}}
    <link rel="stylesheet" href="/css/about.css">

    <div class ="container mt-5 text-center w-75 align-items-center home">
        <div class = "row mt-5">
            <h1>Wildlife Saurus</h1>
            <p>Wildlife Saurus is a tracking site that is used by rangers at a nearby forest of Douglas Fir to track all animals at the forest, so that they can have an accurate record of the different species, their sighting and their health state. </p>
        </div>
        <div class="row mt-5">
            <div class="col mb-1">
                <a href="/animals-form"><button type="submit" class="btn btn-info btn-lg" style="text-align: center;"> Add animal sighting</button> </a>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}